html {
  font: 5vmin/1.3 Serif;
  /* overflow: hidden; */
  background: #123;
}

body,
head {
  display: block;
  font-size: 52px;
  color: transparent;
}

head::before,
head::after,
body::before,
body::after {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 3em;
  height: 3em;
  content: ".";
  mix-blend-mode: screen;
  animation: 44s -27s move infinite ease-in-out alternate;
}

body::before {
  text-shadow: -0.1971076427em -0.2645592296em 7px rgba(0, 46, 255, 0.9),
    2.2819923234em 2.219517702em 7px rgba(255, 138, 0, 0.9),
    0.8081425066em 0.3593129618em 7px rgba(180, 0, 255, 0.9),
    1.7159760844em -0.0191638365em 7px rgba(117, 0, 255, 0.9),
    0.2145743385em -0.1945966732em 7px rgba(0, 255, 227, 0.9),
    1.1837445259em 1.2823727461em 7px rgba(0, 118, 255, 0.9),
    0.377873516em 1.7332402654em 7px rgba(0, 24, 255, 0.9),
    -0.4831224324em 1.4249112657em 7px rgba(0, 114, 255, 0.9),
    -0.2608556196em -0.0881168979em 7px rgba(11, 255, 0, 0.9),
    0.9391728787em 2.3813300829em 7px rgba(95, 255, 0, 0.9),
    -0.1785591823em 2.4738100673em 7px rgba(0, 255, 221, 0.9),
    2.2873875196em 0.8602643807em 7px rgba(59, 0, 255, 0.9),
    1.450300836em 2.1694080632em 7px rgba(255, 110, 0, 0.9),
    1.9159462147em 0.9832553754em 7px rgba(0, 255, 248, 0.9),
    1.5879379619em -0.456229278em 7px rgba(255, 195, 0, 0.9),
    2.0127688496em 2.0088010294em 7px rgba(0, 117, 255, 0.9),
    0.1857215701em 1.4967233053em 7px rgba(255, 0, 93, 0.9),
    2.4689205838em -0.195154902em 7px rgba(255, 0, 23, 0.9),
    1.3202798926em 1.2720213909em 7px rgba(255, 62, 0, 0.9),
    1.9783315558em 2.1100039589em 7px rgba(255, 0, 5, 0.9),
    0.723973616em 2.0677424544em 7px rgba(239, 0, 255, 0.9),
    0.66713944em 0.9495590181em 7px rgba(190, 0, 255, 0.9),
    0.180314617em 2.3492369698em 7px rgba(0, 255, 92, 0.9),
    1.4023332155em 2.2258150034em 7px rgba(20, 0, 255, 0.9),
    -0.0930940897em 2.3490121956em 7px rgba(53, 0, 255, 0.9),
    1.3528123626em 1.5269340893em 7px rgba(255, 0, 84, 0.9),
    -0.0180054472em 2.3774266876em 7px rgba(53, 0, 255, 0.9),
    0.6697042516em 2.2492829191em 7px rgba(0, 255, 112, 0.9),
    0.4338045603em 2.2135328355em 7px rgba(255, 112, 0, 0.9),
    0.871289194em 1.1836543946em 7px rgba(255, 0, 25, 0.9),
    0.6020328399em -0.3139384991em 7px rgba(0, 255, 83, 0.9),
    2.2850282808em -0.1739021838em 7px rgba(255, 207, 0, 0.9),
    0.0608045178em 0.1362397304em 7px rgba(189, 0, 255, 0.9),
    2.4193080735em 0.9292327016em 7px rgba(130, 0, 255, 0.9),
    0.5759162488em 0.288006489em 7px rgba(0, 118, 255, 0.9),
    -0.3125637106em -0.3121818773em 7px rgba(157, 255, 0, 0.9),
    -0.1548403934em 0.902835841em 7px rgba(255, 0, 192, 0.9),
    1.8885480364em 0.5473115333em 7px rgba(72, 255, 0, 0.9),
    0.5699568847em 2.4751126541em 7px rgba(217, 0, 255, 0.9),
    0.7471586287em 0.1988776762em 7px rgba(255, 0, 148, 0.9),
    1.8368295816em 0.1570221524em 7px rgba(255, 0, 213, 0.9);
  animation-duration: 44s;
  animation-delay: -27s;
}

body::after {
  text-shadow: -0.1392053351em -0.3341787069em 7px rgba(255, 230, 0, 0.9),
    1.0747240831em 0.3985850542em 7px rgba(255, 79, 0, 0.9),
    0.0564058184em 0.2260522094em 7px rgba(129, 255, 0, 0.9),
    1.909612469em 0.4531314271em 7px rgba(255, 0, 36, 0.9),
    1.9026743402em 0.8368470468em 7px rgba(111, 255, 0, 0.9),
    2.0784986943em 2.188569957em 7px rgba(33, 0, 255, 0.9),
    2.4973795412em 2.4772265059em 7px rgba(0, 37, 255, 0.9),
    -0.3408079123em 1.6531719397em 7px rgba(23, 255, 0, 0.9),
    -0.4870242218em 1.9134425934em 7px rgba(0, 181, 255, 0.9),
    1.8323940726em 0.6016887726em 7px rgba(255, 25, 0, 0.9),
    2.0096326639em 1.6145700456em 7px rgba(255, 0, 94, 0.9),
    1.4952012056em 0.0084776078em 7px rgba(72, 0, 255, 0.9),
    0.4038196145em 0.81447144em 7px rgba(25, 0, 255, 0.9),
    -0.4037945844em 0.0759223439em 7px rgba(0, 219, 255, 0.9),
    -0.0954014347em 0.9806097203em 7px rgba(144, 0, 255, 0.9),
    1.5704282694em 2.3233620566em 7px rgba(0, 112, 255, 0.9),
    1.3349023995em 0.9518037223em 7px rgba(255, 124, 0, 0.9),
    2.216518951em 0.0440527909em 7px rgba(122, 255, 0, 0.9),
    2.4060374257em 1.9496051856em 7px rgba(27, 255, 0, 0.9),
    1.2031494611em 0.9236692389em 7px rgba(50, 255, 0, 0.9),
    -0.1726445503em -0.1922958009em 7px rgba(177, 0, 255, 0.9),
    2.4372807117em -0.0764598528em 7px rgba(0, 227, 255, 0.9),
    0.1677297098em 0.6368867866em 7px rgba(255, 0, 124, 0.9),
    0.9430573975em 1.2417743273em 7px rgba(0, 255, 223, 0.9),
    0.4701402443em 0.7280670115em 7px rgba(0, 255, 145, 0.9),
    -0.1636627552em 1.2295852488em 7px rgba(205, 0, 255, 0.9),
    0.9778578736em -0.2680791754em 7px rgba(0, 255, 160, 0.9),
    2.1600638048em 2.1848195083em 7px rgba(255, 174, 0, 0.9),
    2.4486360601em 0.8444145601em 7px rgba(134, 0, 255, 0.9),
    2.1453652336em 1.8785872157em 7px rgba(0, 222, 255, 0.9),
    2.1606689715em -0.0943726543em 7px rgba(255, 0, 51, 0.9),
    0.2708878203em -0.2958464663em 7px rgba(255, 0, 88, 0.9),
    0.9983576387em 0.615394766em 7px rgba(0, 255, 87, 0.9),
    2.4628123343em 2.3659801796em 7px rgba(255, 194, 0, 0.9),
    0.4720735038em 0.8740967621em 7px rgba(255, 0, 115, 0.9),
    2.2382319348em -0.2094530645em 7px rgba(255, 0, 97, 0.9),
    1.4466479961em 0.7553507574em 7px rgba(255, 128, 0, 0.9),
    2.4101451125em 0.5621843519em 7px rgba(255, 0, 28, 0.9),
    0.7436340319em 1.0538530655em 7px rgba(222, 0, 255, 0.9),
    1.2893591503em 2.266394877em 7px rgba(255, 188, 0, 0.9),
    1.1865550461em 1.2127496036em 7px rgba(255, 252, 0, 0.9);
  animation-duration: 43s;
  animation-delay: -32s;
}

head::before {
  text-shadow: 1.6205032767em -0.0626534179em 7px rgba(255, 6, 0, 0.9),
    0.082836897em 0.534976629em 7px rgba(110, 255, 0, 0.9),
    2.4167967622em 2.0653267067em 7px rgba(138, 255, 0, 0.9),
    1.6931719927em 0.3863480594em 7px rgba(253, 0, 255, 0.9),
    1.4511308272em 2.2093964502em 7px rgba(255, 0, 145, 0.9),
    2.1199005383em 0.1946950006em 7px rgba(0, 216, 255, 0.9),
    0.2698029229em 2.2809018489em 7px rgba(39, 255, 0, 0.9),
    0.6456039283em 2.0994156414em 7px rgba(255, 92, 0, 0.9),
    1.5562484832em 2.0493296892em 7px rgba(29, 0, 255, 0.9),
    0.1077296518em 0.9719787414em 7px rgba(255, 201, 0, 0.9),
    2.1512548002em 0.4617638237em 7px rgba(112, 255, 0, 0.9),
    0.3865149104em 2.2531387412em 7px rgba(255, 55, 0, 0.9),
    1.982814022em 0.0668573083em 7px rgba(0, 255, 215, 0.9),
    2.1890574719em 1.6654875794em 7px rgba(255, 0, 55, 0.9),
    0.7581370398em 0.8279298276em 7px rgba(91, 255, 0, 0.9),
    1.0165559213em -0.1984714731em 7px rgba(255, 0, 9, 0.9),
    0.6933314233em -0.300749585em 7px rgba(255, 0, 173, 0.9),
    2.4840887962em 0.8077401326em 7px rgba(255, 0, 134, 0.9),
    0.4438267367em 2.3652087339em 7px rgba(255, 0, 79, 0.9),
    1.5469552242em 2.3441950934em 7px rgba(7, 255, 0, 0.9),
    2.2122841803em -0.2883523833em 7px rgba(218, 255, 0, 0.9),
    1.9562146489em 1.1424111463em 7px rgba(230, 0, 255, 0.9),
    1.1720772363em 1.0738615456em 7px rgba(206, 0, 255, 0.9),
    1.0908649442em 1.0479474572em 7px rgba(0, 163, 255, 0.9),
    2.4958164536em 2.0067419929em 7px rgba(117, 0, 255, 0.9),
    1.1825968833em 2.3595970055em 7px rgba(255, 160, 0, 0.9),
    1.9098604216em 0.5215373638em 7px rgba(255, 190, 0, 0.9),
    -0.0222508756em -0.1296108394em 7px rgba(75, 0, 255, 0.9),
    2.1880127087em 1.3219122121em 7px rgba(226, 255, 0, 0.9),
    1.3284408426em -0.2085927716em 7px rgba(178, 255, 0, 0.9),
    0.2837684495em 1.2448001675em 7px rgba(29, 255, 0, 0.9),
    2.0722560136em 0.073465133em 7px rgba(255, 107, 0, 0.9),
    0.0855452059em 2.2028462085em 7px rgba(32, 255, 0, 0.9),
    1.7928121533em -0.3672425994em 7px rgba(255, 134, 0, 0.9),
    0.1793453018em -0.3870614236em 7px rgba(0, 98, 255, 0.9),
    1.701855477em 1.7697857173em 7px rgba(115, 0, 255, 0.9),
    1.1210019452em 0.7736581645em 7px rgba(0, 156, 255, 0.9),
    0.7933081051em 1.3476648529em 7px rgba(255, 136, 0, 0.9),
    -0.454696226em -0.4438888779em 7px rgba(204, 0, 255, 0.9),
    2.1114774069em 0.8170602504em 7px rgba(0, 255, 253, 0.9),
    2.1858374779em -0.0335453488em 7px rgba(0, 255, 32, 0.9);
  animation-duration: 42s;
  animation-delay: -23s;
}

head::after {
  text-shadow: 0.7517060723em 1.6627030776em 7px rgba(27, 255, 0, 0.9),
    0.608547943em -0.4386696656em 7px rgba(0, 255, 156, 0.9),
    2.1985252681em 1.6724101985em 7px rgba(255, 23, 0, 0.9),
    2.4994350448em 1.4252725882em 7px rgba(255, 142, 0, 0.9),
    1.0819826872em 0.0292004589em 7px rgba(240, 255, 0, 0.9),
    2.2182331941em 1.7253413674em 7px rgba(237, 0, 255, 0.9),
    2.1550745551em 1.7056489765em 7px rgba(255, 156, 0, 0.9),
    2.191225981em 0.8843690888em 7px rgba(0, 47, 255, 0.9),
    -0.2717837884em 0.4451932475em 7px rgba(0, 255, 237, 0.9),
    1.2411991561em 0.6561921396em 7px rgba(255, 165, 0, 0.9),
    1.7899176102em 0.8926986504em 7px rgba(0, 12, 255, 0.9),
    1.6047356472em 0.5372496597em 7px rgba(0, 255, 165, 0.9),
    0.5433816109em -0.1260334688em 7px rgba(32, 255, 0, 0.9),
    1.7521434653em 1.4914801654em 7px rgba(0, 22, 255, 0.9),
    -0.2413602717em 1.587817196em 7px rgba(123, 0, 255, 0.9),
    0.7718804059em 1.3522964611em 7px rgba(0, 255, 137, 0.9),
    2.1164870892em 1.162238328em 7px rgba(255, 0, 210, 0.9),
    1.3200904574em 0.8847305275em 7px rgba(0, 255, 5, 0.9),
    1.0150656569em 0.3905544085em 7px rgba(191, 255, 0, 0.9),
    0.4510452219em 1.1032854048em 7px rgba(0, 159, 255, 0.9),
    1.0605244459em 2.244913711em 7px rgba(255, 0, 221, 0.9),
    0.9979112058em 1.8562757119em 7px rgba(0, 236, 255, 0.9),
    0.8381702491em 2.2116918877em 7px rgba(23, 0, 255, 0.9),
    2.0054977939em 2.3160893488em 7px rgba(0, 87, 255, 0.9),
    2.099987755em -0.2517478471em 7px rgba(255, 133, 0, 0.9),
    0.4250843417em 0.7893529702em 7px rgba(0, 56, 255, 0.9),
    1.5387060829em 1.18082506em 7px rgba(0, 175, 255, 0.9),
    -0.1853357206em 1.4297396659em 7px rgba(164, 0, 255, 0.9),
    1.842870824em 1.0535460191em 7px rgba(0, 227, 255, 0.9),
    1.4024352913em 0.2954621534em 7px rgba(0, 101, 255, 0.9),
    0.9205807341em 2.1170389351em 7px rgba(42, 255, 0, 0.9),
    0.1080098044em -0.1909718253em 7px rgba(0, 203, 255, 0.9),
    1.8954577574em 1.0248164331em 7px rgba(255, 0, 16, 0.9),
    0.6282297807em 1.923441408em 7px rgba(0, 240, 255, 0.9),
    1.8629011594em 0.8091691052em 7px rgba(0, 72, 255, 0.9),
    1.528301606em 0.9629269755em 7px rgba(0, 255, 98, 0.9),
    -0.4174032979em 0.4683694319em 7px rgba(242, 0, 255, 0.9),
    0.5843870154em 0.2004566328em 7px rgba(131, 0, 255, 0.9),
    1.7640738111em 2.373134001em 7px rgba(255, 0, 114, 0.9),
    2.0804995677em 0.510593558em 7px rgba(255, 0, 5, 0.9),
    2.3559004142em -0.252552235em 7px rgba(19, 0, 255, 0.9);
  animation-duration: 41s;
  animation-delay: -19s;
}

html::before {
  content: "";
  letter-spacing: 0.5em;
  text-shadow: 0 0 5px #000;
  white-space: pre;
  color: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #999;
}

html:first-line {
  font-size: 300%;
  font-style: italic;
  letter-spacing: 0;
  color: #fff;
}

@keyframes move {
  from {
    transform: rotate(0deg) scale(12) translateX(-20px);
  }
  to {
    transform: rotate(360deg) scale(18) translateX(20px);
  }
}

/*# sourceMappingURL=index.css.map */
